<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/products/list.css" />
    <script src="/javascripts/RequestManager.js"></script>
    <script>
      function onFileInput(event) {
        RequestManager.handleFileSelect(event, '#imgPreview')
      }
    </script>
  </head>
  <body>
    <form action="/cars<%= product ? '/' + product.id : '' %>" enctype="multipart/form-data" method="post">
      <label>
        Car Brand
        <input type="text" name="title" value="<%= product ? product.title : '' %>" required />
      </label>

      <hr />
      <label>
        Car Price ($)
        <input type="number" name="price" value="<%= product ? product.price : '' %>" required />
      </label>
      <hr />

      <label>
        Year Of Production
        <input type="number" name="yearProduction" value="<%= product ? product.yearProduction : '' %>" required />
      </label>
      <hr />
      <label>
        License Number
        <input type="number" name="licenseNumber" value="<%= product ? product.licenseNumber : '' %>" required />
      </label>
      <hr />
      <div class="prod-container">
        <label> Зображення <input type="file" name="prodImg" accept="image/*" onchange="onFileInput(event)" <%= product ? '' : 'required' %> /> </label>
        <img
          src="<%= product && product.imgSrc ? product.imgSrc : '/photo-not-available.jpg' %>"
          id="imgPreview"
          alt="Product Image Preview"
          class="prod-image"
        />
      </div>
      <hr />
      <button type="submit"><%= product ? 'Оновити' : 'Створити' %></button>
    </form>
  </body>
</html>
